

.A4 {
    width: 794px;   /* ширина */
    height: 1122px; /* высота */
    padding: 76px 38px 76px 113px; /* внутренние отступы - верх, право, низ, лево */
    margin: 50px auto;  /* выравнивание по центру */
    background-color: white;  /* цвет фона в блоке */
    font-family:  "Times New Roman"; /* нужный шрифт */
}
.type-9 {
    font-size: 9pt;
}
.type-10 {
    font-size: 10pt;
}
.type-12 {
    font-size: 12pt;
}
.head {
    text-align: left;
    margin-left: 60%;
}
.form {
    text-align: right;
}
.center {
text-align: center;
}
.margin-bottom {
    margin-bottom: 25px;
}
.margin-right {
    margin-right: 50 px;
    text-align: right;
}