@page
@model ReportGenerator.Pages.Students.IndexModel
@{
}

<a class="btn btn-primary"  asp-area="" asp-page="/Students/Create">Create Student</a>
<ul>
    @foreach (var student in Model._list)
    {
        <li>
            @student.FirstName @student.LastName @student.FatherName
        </li>
    }
</ul>
